@import "../../styles/global.css";

.navbar a {
  display: inline-block;
  color: var(--text-light);
  text-decoration: none;
  transition: 0.2s;
}

.navbar a:hover {
  color: var(--text-color);
  transform: scale(1.05);
}

.navbar {
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: var(--background-dark);
  box-shadow: 0 5px 5px var(--background-light);
}

.navbar .menu-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  text-align: center;
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  padding: 0 40px;
}
